* {
    box-sizing: border-box;
}

:root {
    --primary: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ===== Common ===== */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    height: 50px;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 25px;
    background: #171100;
    transition: all ease 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-right: auto;
    margin-left: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* ===== Header ===== */
.header {
    z-index: 1;
    background: #fffcf4;
    padding: 36px 0 8px;
}

.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 0 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
}

.nav li.active a,
.nav li:hover a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    display: inline-block;
    content: "";
    left: 21px;
    bottom: -2px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.action {
    margin-left: 49px;
}

.sign-up-btn {
    min-width: 144px;
    border-radius: 24.5px;
}

/* ===== Hero ===== */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48.7%;
}

.hero .content-block {
    width: 51.3%;
    padding: 64px 0 0 130px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .item + .item {
    margin-top: 22px;
}

.hero .item .info {
    margin-left: 16px;
}

.hero .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .desc {
    margin-top: 22px;
    width: 470px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    height: 64px;
    border-radius: 32px;
    background: var(--primary);
    font-size: 1.8rem;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 600;
}

.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    background: transparent;
    width: 40px;
    height: 40px;
    color: var(--primary);
    border-radius: 50%;
}

.popular-top .control-btn:hover {
    background: var(--primary);
    color: #fff;
}

.course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.course-item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}

.course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-item .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-item .info {
    padding: 16px 22px 22px 22px;
}

.course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-item .value {
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 1.75;
}

.course-item .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.course-item .foot {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .course-item .btn {
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
}

.popular .course-item .btn:hover {
    background: var(--primary);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.feedback-item .info {
    width: 34.2%;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback-item .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedback-item .dots {
    gap: 6px;
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .content {
    width: 65.8%;
}

.feedback-item .content blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}

/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images .lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
}

.features .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    border-radius: 26px;
    background: var(--primary);
    font-size: 16px;
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    border-radius: 20px;
    width: 470px;
    height: 440px;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto 0;
    width: 448px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog-list {
    display: flex;
    gap: 0 30px;
    margin-top: 55px;
    overflow: hidden;
}

.blog-list .item {
    width: calc(33.33% - 20px);
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
}

.blog-list .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-list .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .info {
    padding: 20px 20px 28px;
}

.blog .info .date {
    padding-bottom: 12px;
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.blog .info .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary);
}

.blog .info .date::after {
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .info .title a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog .info .btn {
    font-size: 1.4rem;
}

.blog .info .btn:hover {
    background: var(--primary);
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 0 6px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--primary);
    cursor: default;
}

/* Footer */
.footer {
    padding: 96px 0 28px;
    background: #2e2100;
}

.footer .row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
}

.footer .row::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #59554b;
}

.footer .row .column:first-child {
    max-width: 22.8%;
}

.footer .row .column:last-child {
    max-width: 20%;
}

.footer .desc {
    margin-top: 18px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .socials {
    display: flex;
    gap: 0 18px;
    margin-top: 18px;
}

.footer .title {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    padding-bottom: 14px;
}

.footer .title::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .list {
    margin-top: 28px;
}

.footer li + li {
    margin-top: 12px;
}

.footer .list a {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .list a strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.footer .copyright p {
    margin-top: 28px;
    text-align: center;
    color: #807d74;
    font-size: 1.4rem;
    line-height: 1.86;
}
